<script type="text/javascript" src={{ MOW_URL }}></script>

<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function (event) {
        var isSelected = false;
        $('#layerselect').click(function() {
            if(isSelected) {
                $("#layerlist").removeClass("mow-layer-list-show");
            } else {
                $("#layerlist").addClass("mow-layer-list-show");
            }
            isSelected = !isSelected;
        });
        
        var viewer = {{ viewer|safe }}

        MoW.ready(function() {
                map = new MoW.Map({target: 'preview_map'});
                var wmsOverlay;
                if (viewer.ptype === 'gxp_arcrestsource'){
                    wmsOverlay = MoW.Factory.createArcGISOverlay({
                        'url': viewer.url,
                        'description': viewer.typename,
                        'name': viewer.typename
                    });
                    map.setExtent(viewer.bbox);
                    map.addOverlay(wmsOverlay);
                } else if (viewer.ptype === 'gxp_wmscsource'){
                    wmsOverlay = MoW.Factory.createWMSOverlay({
                        'url': viewer.url,
                        'layers': [viewer.typename],
                        'name': viewer.typename
                    });
                    map.addOverlay(wmsOverlay);
                    map.setExtent(viewer.bbox);
                } else {
                    var alert = new MoW.Alert(MoW.Alert.TYPE.ERROR, "Not valid layer", "Cannot connect to service");
                    map.showAlert(alert);
                }

                $('#autoscaleBase').click(function() {
                    console.log(MoW.Basemap.ID);
                    map.setBasemap(MoW.Basemap.ID.AUTOSCALING);
                    isSelected = false;
                    $("#layerlist").removeClass("mow-layer-list-show");
                });
                $('#canvasgrayBase').click(function() {
                    map.setBasemap(MoW.Basemap.ID.CANVAS_SLATE);
                    isSelected = false;
                    $("#layerlist").removeClass("mow-layer-list-show");
                });
                $('#streetsBase').click(function() {
                    map.setBasemap(MoW.Basemap.ID.STREETS);
                    isSelected = false;
                    $("#layerlist").removeClass("mow-layer-list-show");
                });
            });
        });
</script>
