<script type="text/javascript" src={{ MOW_URL }}></script>

<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function (event) {
        var isSelected = false;
        $('#layerselect').click(function() {
            if(isSelected) {
                $("#layerlist").removeClass("mow-layer-list-show");
            } else {
                $("#layerlist").addClass("mow-layer-list-show");
            }
            isSelected = !isSelected;
        });
        {% if resource.bbox_string %}
        var bbox = [{{ resource.bbox_string }}];
        {% else %}
        var bbox = null;
        {% endif %}
        var source = null;
        var coords = null;
        var type = ''
        {% if resource.ptype == 'gxp_wmscsource' %}
            source = {
                'url': '{{ resource.ows_url }}',
                'layers': ['{{ resource.typename }}'],
                'name': '{{ resource.typename }}'
            };
            type = 'wms';
            coords = '{{ resource.bbox_string }}'
        {% elif resource.ptype == 'gxp_arcrestsource' %}
            source = {
                'url': '{{ resource.ows_url }}',
                'description': '{{ resource.typename }}',
                'name': '{{ resource.typename }}'
            };
            type = 'arcgis';

            var coords = '{{resource.bbox_string}}'.split(',');
        {% endif %}
        MoW.ready(function() {
                map = new MoW.Map({target: 'preview_map'});
                var wmsOverlay;
                if (type === 'arcgis'){
                    wmsOverlay = MoW.Factory.createArcGISOverlay(source);

                    // Currently MoW uses an older Openlayers library 
                    // This technique won't work in the future with Openlayer 5
                    if (typeof OpenLayers === 'object') {                          
                        var point1 = new OpenLayers.Geometry.Point(coords[0], coords[1]);
                        point1.transform('EPSG:3857', 'EPSG:4326');
                        var point2 = new OpenLayers.Geometry.Point(coords[2], coords[3]);
                        point2.transform('EPSG:3857', 'EPSG:4326');
                        map.setExtent([point1.x, point1.y, point2.x, point2.y]);
                    }
                    map.addOverlay(wmsOverlay);
                } else if (type === 'wms'){
                    wmsOverlay = MoW.Factory.createWMSOverlay(source);
                    map.addOverlay(wmsOverlay);
                    map.setExtent(coords.split(','));
                    map.addOverlay(wmsOverlay);
                } else {
                    var alert = new MoW.Alert(MoW.Alert.TYPE.ERROR, "Not valid layer", "Cannot connect to service");
                    map.showAlert(alert);
                }

                $('#autoscaleBase').click(function() {
                    console.log(MoW.Basemap.ID);
                    map.setBasemap(MoW.Basemap.ID.AUTOSCALING);
                    isSelected = false;
                    $("#layerlist").removeClass("mow-layer-list-show");
                });
                $('#canvasgrayBase').click(function() {
                    map.setBasemap(MoW.Basemap.ID.CANVAS_SLATE);
                    isSelected = false;
                    $("#layerlist").removeClass("mow-layer-list-show");
                });
                $('#streetsBase').click(function() {
                    map.setBasemap(MoW.Basemap.ID.STREETS);
                    isSelected = false;
                    $("#layerlist").removeClass("mow-layer-list-show");
                });
            });
        });
</script>
