<script type="text/javascript" src={{ MOW_URL }}></script>

<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function (event) {
        const viewer = {{ viewer|safe }};
        let isSelected = false;
        let isVisible = viewer.visibility || true;

        $('#layerselect').click(function() {
            if(isSelected) {
                $("#layerlist").removeClass("mow-layer-list-show");
            } else {
                $("#layerlist").addClass("mow-layer-list-show");
            }
            isSelected = !isSelected;
        });
        
        $('#mow-change-visibility').click(function() {
            // Get list of layers
            const layers = map.getOverlays();  
            //Change visibility variable
            isVisible = !isVisible;  
            // Find the trgetLayer in list of layers
            const targetLayer = layers.find(function(layer) {
                return layer.name === viewer.typename;
            });
            // Change the Eye Icon
            if(isVisible){
                $("#mow-vis-eye").removeClass("fa-eye-slash");
                $("#mow-vis-eye").addClass("fa-eye");
            } else {
                $("#mow-vis-eye").removeClass("fa-eye");
                $("#mow-vis-eye").addClass("fa-eye-slash");
            }
            // Change Visibility
            map.setVisibility(targetLayer.id, isVisible);
        });
        
        MoW.ready(function() {
                map = new MoW.Map({target: 'preview_map'});
                var wmsOverlay;
                if (viewer.ptype === 'gxp_arcrestsource'){
                    wmsOverlay = MoW.Factory.createArcGISOverlay({
                        'url': viewer.url,
                        'description': viewer.typename,
                        'name': viewer.typename,
                    });
                    map.setExtent(viewer.bbox);
                    map.addOverlay(wmsOverlay, {isVisible: isVisible});
                } else if (viewer.ptype === 'gxp_wmscsource'){
                    wmsOverlay = MoW.Factory.createWMSOverlay({
                        'url': viewer.url,
                        'layers': [viewer.typename],
                        'name': viewer.typename,
                    });
                    map.addOverlay(wmsOverlay, {isVisible: isVisible});
                    map.setExtent(viewer.bbox);
                } else {
                    var alert = new MoW.Alert(MoW.Alert.TYPE.ERROR, "Not valid layer", "Cannot connect to service");
                    map.showAlert(alert);
                }
                $('#autoscaleBase').click(function() {
                    map.setBasemap(MoW.Basemap.ID.AUTOSCALING);
                    isSelected = false;
                    $("#layerlist").removeClass("mow-layer-list-show");
                });
                $('#canvasgrayBase').click(function() {
                    map.setBasemap(MoW.Basemap.ID.CANVAS_SLATE);
                    isSelected = false;
                    $("#layerlist").removeClass("mow-layer-list-show");
                });
                $('#streetsBase').click(function() {
                    map.setBasemap(MoW.Basemap.ID.STREETS);
                    isSelected = false;
                    $("#layerlist").removeClass("mow-layer-list-show");
                });
            });
        });
</script>
