[submodule "vendor/geonode"]
	path = vendor/geonode
	url = https://github.com/geonode/geonode.git
	branch = 2.7.x
[submodule "vendor/maploom"]
	path = vendor/maploom
	url = https://github.com/boundlessgeo/MapLoom.git
[submodule "vendor/sphinx-theme"]
	path = vendor/sphinx-theme
	url = https://github.com/boundlessgeo/sphinx-theme
[submodule "vendor/django-osgeo-importer"]
	path = vendor/django-osgeo-importer
	url = https://github.com/cartologic/django-osgeo-importer
	branch = angular-1.4
[submodule "vendor/gsconfig"]
	path = vendor/gsconfig
	url = https://github.com/boundlessgeo/gsconfig.git
[submodule "vendor/geonode-elasticsearch"]
	path = vendor/geonode-elasticsearch
	url = https://github.com/boundlessgeo/geonode-elasticsearch
	branch = geonode2.8.x
[submodule "vendor/cartoview"]
	path = vendor/cartoview
	url = git@github.com:cartologic/cartoview.git
