from .default import *
import os
import dj_database_url
DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql_psycopg2',
        'NAME': 'exchange',
        'USER': 'exchange',
        'PASSWORD': 'password',
        'HOST': 'localhost',
        'PORT': '5432',
        'CONN_TOUT': 900,
    },
    # vector datastore for uploads
    'datastore': {
        'ENGINE': 'django.contrib.gis.db.backends.postgis',
        'NAME': 'exchange_data',
        'USER': 'exchange',
        'PASSWORD': 'password',
        'HOST': 'localhost',
        'PORT': '5432',
        'CONN_TOUT': 900,
    }
}
GEOSERVER_URL = os.getenv('GEOSERVER_URL', 'http://localhost:8080/geoserver/')
GEOSERVER_LOCAL_URL = os.getenv('GEOSERVER_LOCAL_URL', GEOSERVER_URL)
POSTGIS_URL = os.getenv(
    'POSTGIS_URL', 'postgis://exchange:password@localhost:5432/exchange_data')
DATABASES['exchange_imports'] = dj_database_url.parse(
    POSTGIS_URL, conn_max_age=600)
DATABASES['exchange_imports'][
    'ENGINE'] = 'django.contrib.gis.db.backends.postgis'

# celery settings
CELERY_BROKER_URL = os.getenv('BROKER_URL',
                              'amqp://guest:guest@localhost:5672/')
CELERY_TASK_ALWAYS_EAGER = True
CELERY_ALWAYS_EAGER = CELERY_TASK_ALWAYS_EAGER
NOTIFICATION_QUEUE_ALL = not CELERY_ALWAYS_EAGER
NOTIFICATION_LOCK_LOCATION = LOCAL_ROOT
SKIP_CELERY_TASK = False
CELERY_DEFAULT_EXCHANGE = 'exchange'
CELERYBEAT_SCHEDULER = 'djcelery.schedulers.DatabaseScheduler'
CELERY_RESULT_BACKEND = 'rpc' + CELERY_BROKER_URL[4:]
CELERY_RESULT_PERSISTENT = True
CELERYD_PREFETCH_MULTIPLIER = 25
CELERY_TASK_RESULT_EXPIRES = 18000  # 5 hours.
CELERY_ENABLE_UTC = True
CELERY_TIMEZONE = TIME_ZONE
