{% load i18n %}
{% block content %}

<dl class="dl-horizontal">
    {% if resource.title %}
    <dt>{% trans "Title" %}</dt>
    <dd itemprop="name">{{ resource.title|truncatechars:80 }}</dd>
    {% endif %}

    {% if resource.srid and SRID_DETAIL == 'above' %}
    <dt>{% trans "SRID" %}</dt>
    <dd>{{ resource.srid }}</dd>
    {% endif %}

    {% if LICENSES_ENABLED and LICENSES_DETAIL == 'above' and resource.license %}
    <dt>{% trans "License" %}</dt>
    <dd itemprop="license">{{ resource.license.name_long }} <a href="#license-more-above" data-toggle="collapse" data-target=".license-more-above"><i class="fa fa-info-circle"></i></a></dd>
    {% endif %}
    <dd class="license-more-above collapse">
      {% for bullet in resource.license.description_bullets %}
        {{ bullet }}<br/><br/>
      {% endfor %}
      {% if resource.license.url %}
        + For more info see <a href="{{ resource.license.url }}">{{ resource.license.url }}</a>.
      {% endif %}
    </dd>

    {% if resource.abstract %}
    <dt>{% trans "Abstract" %}</dt>
    <dd itemprop="description">{{ resource.abstract|escape|urlize|linebreaks|safe }}</dd>
    {% endif %}

    {% if resource.date %}
    <dt>{% trans resource.date_type|title %} {% trans "Date" %}</dt>
      {% if resource.date_type == 'creation' %}
        <dd itemprop="dateCreated" datetime="{{ resource.date|date:"c"}}">{{ resource.date }}</dd>
      {% elif resource.date_type == 'publication' %}
        <dd itemprop="datePublished" datetime="{{ resource.date|date:"c"}}">{{ resource.date }}</dd>
      {% else %}
        <dd itemprop="dateModified" datetime="{{ resource.date|date:"c"}}">{{ resource.date }}</dd>
      {% endif %}
    {% endif %}

    {% if resource.display_type %}
    <dt>{% trans "Type" %}</dt>
    <dd>{{ resource.display_type }}</dd>
    {% endif %}

    {% if resource.keywords.count > 0 %}
    <dt>{% trans "Keywords" %}</dt>
    <dd itemprop="keywords">
      {% for keyword in resource.keywords.all %}
  <a itemscope itemtype="http://schema.org/Text" href="{% url "search" %}?keywords={{ keyword.slug }}" >
          {{ keyword.name }}
        </a>
        {% if not forloop.last %},{% endif %}
      {% endfor %}
    </dd>
    {% endif %}

    {% if resource.category %}
    <dt>{% trans "Category" %}</dt>
    <dd><a href="{% url "search" %}?category={{ resource.category.identifier }}">{{ resource.category }}</a> {% if resource.category.description %}<a href="#category-more" data-toggle="collapse" data-target=".category-more"><i class="fa fa-info-circle"></i></a>{% endif %}</dd>
      {% if resource.category.description %}
      <dd class="category-more collapse">
        {{ resource.category.description }}
      </dd>
      {% endif %}
    {% endif %}

    {% if resource.regions.all %}
    <dt>{% trans "Regions" %}</dt>
    <dd itemprop="keywords">
      {% for region in resource.regions.all %}
        <a itemscope itemtype="http://schema.org/Text" href="{% url "search" %}?regions={{ region.name }}">
          {{ region.name }}
        </a>
        {% if not forloop.last %},{% endif %}
      {% endfor %}
    </dd>
    {% endif %}

    {% if resource.owner == resource.poc and resource.owner == resource.metadata_author %}
    <dt>{% trans "Owner, PoC, Metadata Author" %}</dt>
    <dd><a itemprop="author" href="{{ resource.owner.get_absolute_url }}">{{ resource.owner.username }}</a></dd>
    {% else %}
        <dt>{% trans "Owner" %}</dt>
        <dd><a itemprop="author" href="{{ resource.owner.get_absolute_url }}">{{ resource.owner.username }}</a></dd>
        {% if resource.poc %}
        <dt>{% trans "Point of Contact" %}</dt>
            {% if resource.poc.username %}
            <dd><a itemprop="author" href="{{ resource.poc.get_absolute_url }}">{{ resource.poc.username }}</a></dd>
            {% elif resource.poc.name_long %}
            <dd>{{ resource.poc.name_long }}</dd>
            {% elif resource.poc_name %}
            <dd>{{ resource.poc_name }}</dd>
            {% endif %}
        {% endif %}
        {% if resource.metadata_author %}
        <dt>{% trans "Metadata Author" %}</dt>
            {% if resource.metadata_author.username %}
            <dd><a itemprop="author" href="{{ resource.metadata_author.get_absolute_url }}">{{ resource.metadata_author.username }}</a></dd>
            {% elif resource.metadata_author.name_long %}
            <dd>{{ resource.metadata_author.name_long }}</dd>
            {% endif %}
        {% endif %}
    {% endif %}
  </dl>

  <dl class="dl-horizontal">
    <dt><a href="#metadata_detail" data-toggle="collapse" data-target=".metadata_detail">{% trans "Metadata Detail" %}</a></dt>
      <dd><a href="#metadata_detail" data-toggle="collapse" data-target=".metadata_detail"><i class="fa fa-caret-down"></i></a></dd>
  </dl>

  <dl class="dl-horizontal">
    <div class="metadata_detail collapse long-details">
        {% include metadata_detail %}
    </div>
  </dl>

  {% endblock %}
